<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">
      Node Listing for <%= @map.title %>
    </h3>
  </div><!--/.panel-heading -->

  <div class="panel-body">
    
  </div><!--/.panel-body -->
	
</div><!-- ./panel -->