<h1>Editing Category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category %> |
<% if @category.map_id.nil? %>
  <%= link_to 'Back', categories_path %>
<% else %>
  <%= link_to 'Back', map_path(@category.map_id) %>
<% end %>